body {
  background: url('https://files.cdn.thinkific.com/file_uploads/397660/attachments/2e2/6dc/b89/food.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh
}

h1 {
  font-family: "Montserrat", sans-serif;
  background-color: #dcedf7;
  border-radius: 20px;
  padding: 15px;
}

.button-add {
  font-family: "Montserrat", sans-serif;
  background-color: #77cf40;
  border-radius: 20px;
  padding: 17px;
  border: none;
  font-size: 17px;
}

.button-delete {
  font-family: "Montserrat", sans-serif;
  background:none;
  border: none;
  font-weight: bolder;
}

.App {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.whole-plan {
  width: 70%;
  height: 100vh;
  padding: 30px;
}

.myInput {
  width: 70%;
  height: 20px;
  padding: 10px;
  border-radius: 20px;
  display: block;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
}

textarea {
  display: block;
  border: 1px solid #ddd;
  margin-top: 30px;
  width: 70%;
  height: 200px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

.selected {
  background-color: #fad106;
}

.default {
  background-color: #dcedf7;
}

p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.field {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}